@media(min-width:768px){

    .cajaPortada{
        background-image: url(../img/portada4.png);
        background-size:cover;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 200px;
        
         
     }  
}

