@media(min-width:768px){

    .navbar{

        grid-area: navbar;
        background-color: rgb(237, 236, 203);
        z-index: 20;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        align-items:center;
        justify-content: space-between;
        ul{
            list-style:none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            li{
                display: inline-block;
                padding: 10px;
                font-size: 20px;
                font-size:x-large;
                
                
            }
          
          
        }
        
    }     
    
    
    .logo{
        display: flex;
        flex-direction: row;
        justify-content:flex-start
        img{
            width: 40px;
            height: 40px;
            margin-left: 10px;
            
        
        }
    }
    
    
    .redes{
        display: flex;
        flex-direction:row;
        margin-right: 10px;
    
        img{
            width: 30px;
            height: 30px;
            margin-right: 20px;
            display: inline-block;
        
        }
    }
    

}



